[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
praw = "*"
nltk = "*"
requests = "*"
pyrsistent = "*"
more-itertools = "*"

[requires]
python_version = "3.8"
